<!doctype html>
<html ng-app="ods-widgets">
<head>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-sanitize.js"></script>
    <script src="https://help.opendatasoft.com/widgets/grunt-scripts/ods-widgets.js"></script>
    <script src="https://help.opendatasoft.com/widgets/grunt-scripts/docs-load-css.js"></script>
</head>
<body>

    <ods-dataset-context context="tree"
        tree-dataset="les-arbres-remarquables-de-paris"
        tree-domain="https://documentation-resources.opendatasoft.com/">
            <div ods-aggregation="height"
            ods-aggregation-context="tree"
            ods-aggregation-expression="hauteur_en_m"
            ods-aggregation-function="AVG">
            Average height is {{ height | number }} meters.
            </div>
    </ods-dataset-context>

</body>
</html>
